<!DOCTYPE html>
<head>
  <title>Wordsmith Live</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Monofett|Monoton|Roboto|VT323" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</body>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('0921d05e113bd5ac4866', {
    cluster: 'us2',
    encrypted: true
  });

  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    alert(data.message);
  });
</script>
</head>
<style>
.generated {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  background-color:#353535;
  color:#989898;
  padding-bottom: 2%;
}
.number {
  font-size: 200px;
  font-family: 'Bungee Shade', cursive;
  background-color:#353535;
  color:#5ea0ec;
}
.fact {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #646464;
}

</style>
<center>
<div class="number">
320,421
<div class="generated">- NARRATIVES GENERATED TODAY BY WORDSMITH -</div>
</div>
<br>
<br>


<div class="row">
  <div class="col-md-4"><img src="http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=the+more+you+know" /> </div>
  <div class="col-md-8"><div class='fact'>Allen R. Astles (UK) potted 10,000 winks in 3 hr 51 min 46 sec at Aberystwyth, Ceredigion, UK in February 1966.
</div></div>
</div>
</center>
</html>
